<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%=t '.heading' %></h1>

    <div class="form-group">
      <%= link_to t('.continue'), root_path, class: 'button' %>
    </div>
  </div>
</div>
