<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%=t '.heading' %></h1>

    <div class="govuk-form-group">
      <%= link_to t('.continue'), root_path, class: 'govuk-button' %>
    </div>
  </div>
</div>
