DATABASE_URL=postgresql://postgres@db/tax-tribunals-datacapture
PAYMENT_ENDPOINT=http://localhost:4500
FEES_EXTERNAL_URL=http://localhost:3003/case_requests
MOJ_FILE_UPLOADER_ENDPOINT=http://localhost:9292
TAX_TRIBUNALS_DOWNLOADER_URL=http://localhost:9393
GLIMR_API_URL=https://[hostname]/Live_API/api/tdsapi
EXTERNAL_URL=http://localhost:3000
SESSION_EXPIRES_IN_MINUTES=10
SESSION_WARNING_WHEN_REMAINING=2

# For access to the http basic auth protected page listing document upload problems
# The digest in this example correspond to: Digest::SHA256.hexdigest('london')
UPLOAD_PROBLEMS_REPORT_AUTH_USER=admin
UPLOAD_PROBLEMS_REPORT_AUTH_DIGEST=6089854c94ca5454b76be6752c562901a985f64c9a946f62976aeab593b83161
ADMIN_USERNAME=taxtribs
ADMIN_PASSWORD=6089854c94ca5454b76be6752c562901a985f64c9a946f62976aeab593b83161

GOVUK_NOTIFY_API_KEY=notify-api-key
NOTIFY_CASE_CONFIRMATION_TEMPLATE_ID=fa138a1a-5bea-4b01-993f-f25927363d02
NOTIFY_FTT_CASE_NOTIFICATION_TEMPLATE_ID=c2362d14-f99e-4420-b102-8d297dd3a62f
NOTIFY_NEW_CASE_SAVED_TEMPLATE_ID=effca85f-0718-483a-bcd8-529a4e7e6b0f
NOTIFY_CHANGE_PASSWORD_TEMPLATE_ID=cc99c21b-7c28-442e-b8fa-20eba92dec52
NOTIFY_RESET_PASSWORD_TEMPLATE_ID=fcb832bf-a46d-4bf2-a539-b9daa56bbfee
NOTIFY_CASE_FIRST_REMINDER_TEMPLATE_ID=ff66f5ae-6f8c-4365-bb43-a608cbde1e1c
NOTIFY_CASE_LAST_REMINDER_TEMPLATE_ID=23ecd5e1-2a6f-4cbb-9839-d6567360943a
NOTIFY_REPORT_PROBLEM_TEMPLATE_ID=01248de5-4018-4165-8a6f-2508fc481c20
NOTIFY_SEND_APPLICATION_DETAIL_TEMPLATE_ID=285cb7c4-6716-44f7-8fa1-08c6129a0e1e
REPORT_PROBLEM_EMAIL_ADDRESS=test@example.com

NOTIFY_CASE_CONFIRMATION_CY_TEMPLATE_ID=ef48c6b6-e3fa-4b1c-8463-9c4fbe504279
NOTIFY_FTT_CASE_NOTIFICATION_CY_TEMPLATE_ID=c2362d14-f99e-4420-b102-8d297dd3a62f
NOTIFY_NEW_CASE_SAVED_CY_TEMPLATE_ID=f5e99be0-f809-4624-87a9-993a55065f14
NOTIFY_CHANGE_PASSWORD_CY_TEMPLATE_ID=309c3ac0-3e26-42e2-9a3e-926f66fa3dc2
NOTIFY_RESET_PASSWORD_CY_TEMPLATE_ID=bd60f125-9dc8-4eba-85ca-8059e9dcfe7c
NOTIFY_CASE_FIRST_REMINDER_CY_TEMPLATE_ID=fcddda68-3bcc-4272-85f1-143274a4ae02
NOTIFY_CASE_LAST_REMINDER_CY_TEMPLATE_ID=066415bc-1150-4e51-b506-0c074059cde1
NOTIFY_SEND_APPLICATION_DETAIL_CY_TEMPLATE_ID=16ff8919-9ab5-4e2f-802b-f36168203f32

# Used for `GLiMR is down` emails
TAX_TRIBUNAL_EMAIL=your_email@example.com

ZENDESK_USERNAME=username
ZENDESK_TOKEN=token

SAUCE_USERNAME=saucelabs_username
SAUCE_ACCESS_KEY=saucelabs_auth_key

DISABLE_RACK_ATTACK_SAFELISTS=false

ADDRESS_LOOKUP_ENDPOINT=https://api.os.uk
ADDRESS_LOOKUP_API_KEY=osapikey
ADDRESS_LOOKUP_API_SECRET=osapisecret

MAINTENANCE_ENABLED=false
MAINTENANCE_ALLOWED_IPS=''

GLIMR_GENERATION_USER=test
GLIMR_GENERATION_PASSWORD=password