<div class="uploaded_document_container">
  <p><%= t('.previous_document', file_name: current_document.name) %></p>
  <%= button_to 'Remove', document_path(current_document, document_key: document_key), method: :delete, data: {confirm: 'Are you sure?'}, class: 'button' %>
</div>
