<div class="govuk-grid-row uploaded_document_container uploader-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= t('.previous_document_html', file_name: current_document.name) %></p>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= button_to t('shared.file_upload.remove_file'),
                document_path(current_document, document_key: document_key),
                method: :delete,
                data: {confirm: t('shared.file_upload.confirm_delete')},
                class: 'govuk-button govuk-button--secondary' %>
  </div>
</div>
