<p>
  <%= form.label(field_name, label_text) %>
</p>

<p>
  <%=t '.upload_explanation_html' %>
</p>

<div class="grid-row uploader-row">
  <div class="column-two-thirds">
    <%= form.file_field(field_name, class: 'single-file-upload', accept: DocumentUpload::ALLOWED_CONTENT_TYPES.join(','), src: 'camera') %>
  </div>
  <div class="column-one-third">
    <p class="js-file-status"></p>
  </div>
</div>


<%= render partial: 'steps/shared/file_upload_requirements' %>
