<p class="govuk-body">
  <%= form.label(field_name, label_text, id: [
    'error', form.object.class.name.underscore.tr('/', '_'), field_name
  ].join('_')) %>
</p>

<p class="govuk-body">
  <%=t '.upload_explanation_html' %>
</p>

<div class="govuk-grid-row uploader-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form.govuk_file_field(field_name, class: 'govuk-file-upload single-file-upload', accept: DocumentUpload::ALLOWED_CONTENT_TYPES.join(','), src: 'camera') %>
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="js-file-status"></p>
  </div>
</div>


<%= render partial: 'steps/shared/file_upload_requirements' %>
