<h1 class="govuk-heading-l"><%=t "shared.letter_upload.heading.#{i18n_letter_type}" %></h1>

<p class="govuk-body-l"><%=t 'shared.letter_upload.lead_text' %></p>

<p class="govuk-body"><%= translate_with_appeal_or_application('shared.file_upload.technical_info_html') %></p>
