<h1 class="heading-large"><%=t "shared.letter_upload.heading.#{i18n_letter_type}" %></h1>

<p class="lede"><%=t 'shared.letter_upload.lead_text' %></p>

<p><%=t 'shared.file_upload.technical_info' %></p>
