<p class="govuk-body">
  <%= link_to_unless_current t('.upload_problems_link'), admin_upload_problems_report_index_path %> |
  <%= link_to_unless_current t('.other_case_types_link'), admin_other_case_types_report_index_path %> |
  <%= link_to_unless_current t('.other_dispute_types_link'), admin_other_dispute_types_report_index_path %>
</p>
