<aside class="govuk-related-items">
  <h2 class="heading-small"><%= t('shared.service_help.need_help') %></h2>
  <nav role="navigation" class="font-xsmall">
    <p><a href="#"><%= t('shared.service_help.contact_us') %></a></p>
  </nav>
</aside>
