<details>
  <summary><%= t 'shared.file_upload.header' %></summary>
  <div class="panel">
    <%= t 'shared.file_upload.file_list_html' %>
    <p class="govuk-body"><%= t 'shared.file_upload.footer' %></p>
  </div>
</details>
