<details class="govuk-details">
  <summary class="details__summary" aria-controls="details-content" aria-expanded="false">
      <span class="govuk-details__summary-text">
          <%= t 'shared.file_upload.header' %>
      </span>
  </summary>
  <div class="govuk-details__text" aria-hidden="true">
    <%= t 'shared.file_upload.file_list_html' %>
    <p class="govuk-body"><%= t 'shared.file_upload.footer' %></p>
  </div>
</details>
