<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary" aria-controls="details-content" aria-expanded="false">
    <%= t '.heading' %>
  </summary>
  <div class="govuk-details__text" aria-hidden="true">
    <%= translate_with_appeal_or_application('.content_html',
                                             approval_form_href: asset_path('proforma.pdf'),
                                             approval_form_format_and_size: 'PDF, 47KB'
        )
    %>
  </div>
</details>
