#glimr-generation{
  #date-group{
    margin-top: 20px;
  }

  legend#date-legend{
    margin-bottom: 5px;
  }

  .space-above{
    margin-top: 10px;
  }
  .big-space-above{
    margin-top: 30px;
  }

  #logout{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .govuk-date-input label{
    color: #505a5f;
    font-size: 1rem;
  }
}
