#case-details-pdf {
  font-family: "nta", Arial, sans-serif;
  padding: 20px;
  width: 70%;
  margin: 0 auto;

  div.newpage {
    page-break-before: always;
  }

  span.case-reference {
    font-size: 80%;
  }

  td {
    vertical-align: top;
    font-size: 70%;
  }

  td.section {
    width: 200px;
  }

  td.content {
    &.with-padding {
      padding-top: 12px;
    }
  }

  ul.documents {
    padding: 0;
    margin: 0;
    margin-left: 14px;
  }
}
