#footer .developer_tools {
  margin: 0;

  h4 {
    font-size: 16px;
    font-weight: bold;
  }

  .details {
    color: govuk-colour("dark-grey");
    margin: 0;
  }

  .button-destroy_session {
    background-color: govuk-colour("red");
    color: govuk-colour("white");
  }

  .button-create_session {
    background-color: govuk-colour("light-purple");
    color: govuk-colour("white");
  }
}
