.dz-preview {
  display: none;
}

.dropzone {
  border: 2px dashed govuk-colour("mid-grey");
  padding: 30px;
  margin-bottom: 20px;
  clear: both;

  .arrow-icon::before {
    content: image-url('drag-drop-upload-ico.svg');
    float: right;
    width: 90px;
    height: 90px;
  }
  &.dz-drag-hover {
    border-color: govuk-colour("yellow");
    .drag-helptext::before {
      content: image-url('drag-drop-upload-hover-ico.svg');
      float: left;
      width: 90px;
      height: 90px;
    }
  }

  .drag-helptext {
    text-align: center;
    display: inline-block;
    &::before {
      content: image-url('drag-drop-upload-ico.svg');
      float: left;
      width: 90px;
      height: 90px;
    }
  }

  .govuk-button--secondary {
    margin: 0;
  }

  .dz-preview {
    display: block;
    width: 100%;
    min-height: 50px;
    margin: 0 0 1em;
    padding: 0 0 1em;
    border-bottom: 1px solid govuk-colour("mid-grey");
    @include govuk-font(16);

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: 0;
    }

    a {
      cursor: pointer;
    }

    p {
      margin: 0;
    }

    .dz-removeFailedFile, .dz-cancel {
      display: none;
    }

    &.dz-processing {
      .dz-cancel {
        display: block;
      }
    }

    &.dz-error {
      padding-left: 50px;
      background-image: image-url('icon-important.png');
      background-position: 0 0;
      background-repeat: no-repeat;

      .dz-progress {
        display: none;
      }
      .dz-removeFailedFile {
        display: block;
      }
    }

    .dz-filename {
      .filename {
        width: 80%;
        float: left;
      }
      .actions {
        width: 20%;
        float: right;
      }
      [data-dz-name] {
        font-weight: bold;
      }
    }

    .dz-progress {
      width: 100%;
      display: block;
      position: relative;
      margin-left: 0;
      margin-top: 5px;
      left: auto;
      top: auto;

      .dz-upload {
        background-color: govuk-colour("light-green");
        display:inline-block;
        height: 15px;
        border-radius: 10px;
      }
    }
  }

  .file-info {
    color: govuk-colour("dark-grey");
  }

  .dz-message {
    .dz-message-copy {
      text-align: left;
      margin-left: 20px;

      .faux-link {
        color: govuk-colour("blue");
        text-decoration: underline;
        cursor: pointer;
        display: inline-block;
      }
    }
  }

  &:focus {
    outline: 3px solid govuk-colour("yellow");
  }
}



.dz-success.dz-complete {
  .dz-progress {
    display: none;
  }
}
