#global-header .header-proposition #proposition-links li {
  color: $grey-4;
  list-style-type: none;
  @include govuk-font(16);

  @media (max-width: 768px) {
    width: auto;
    clear: both;
    border: none;
    @include govuk-font(14);
  }
}
