.select2 {
    position: static;
}

// ------------
.select2-container {
  width: 70% !important;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle; }
  .select2-container .select2-selection--single {
    @extend .govuk-input;
    cursor: pointer;
    display: block;
    user-select: none;
    -webkit-user-select: none;
  }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 8px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .select2-container .select2-selection--single .select2-selection__clear {
      background-color: transparent;
      border: none;
      font-size: 1em; }
  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px; }
  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline;
      list-style: none;
      padding: 0; }
    .select2-container .select2-selection--multiple .select2-selection__clear {
      background-color: transparent;
      border: none;
      font-size: 1em; }
  .select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0; }
    .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
    display: block;
    border: 2px solid;
    //width: 260px;
    margin-left: 4px;
    margin-top: -6px;
    z-index: 99999;
    position: relative;
}


.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
    @extend .govuk-label;
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 0;
}

.select2-results__option:nth-child(odd) {
    background-color: #fafafa;
}

.select2-results__option--selectable {
  cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px 0px 4px 4px;
}
  .select2-search--dropdown .select2-search__field {
      @extend .govuk-input;
    padding: 4px;
    width: 100%;
    box-sizing: border-box; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }


.select2-container--govuk
.select2-selection--single {
    @extend .govuk-input;
}

.select2-container--govuk
.select2-selection--single:focus {
    @extend .govuk-input:focus;
}

.select2-container--govuk
.select2-selection--single .select2-selection__rendered {
    @extend .govuk-label;
    margin-bottom: 0;
}

.select2-container--govuk
.select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.select2-container--govuk
.select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--govuk
.select2-selection--single .select2-selection__arrow {
    display: none;
}

.select2-container--govuk
.select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-container--govuk[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--govuk[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--govuk.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--govuk.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--govuk.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--govuk.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--govuk.select2-container--open.select2-container--below .select2-selection--single {
    display: none;
}

.select2-container--govuk
.select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

.select2-container--govuk
.select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--govuk
.select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.select2-container--govuk
.select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--govuk
.select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--govuk
.select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--govuk
.select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--govuk[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--govuk[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--govuk.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--govuk.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--govuk.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--govuk
.select2-search--dropdown .select2-search__field {
    @extend .govuk-input;
}

.select2-container--govuk
.select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}

.select2-container--govuk
.select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}

.select2-container--govuk
.select2-dropdown--above {
  border-bottom: none;
}

.select2-container--govuk
.select2-dropdown--below {
  border-top: none;
}

.select2-container--govuk
.select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--govuk
.select2-results__option[role=group] {
  padding: 0;
}

.select2-container--govuk
.select2-results__option[aria-disabled=true] {
  color: grey;
}

.select2-container--govuk
.select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white;
}

.select2-container--govuk
.select2-results__message {
    cursor: not-allowed;
}


.select2-container--govuk
.select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
