.info-notice {
  border-left: 1em solid #dee0e2;
  padding: 1em 0 1em 1em;
  margin: 2em 0;

  p {
    margin-top: 0em ;
    margin-bottom: 0em ;
  }
}
.maintenance-notice {
  h2 {
    margin-top: 0.5em;
  }
  p {
    color: $mellow-red;
    font-weight: bold;
    margin-top: 0.2em;
  }
}
