// Colours for the site, as per:
// http://alphagov.github.com/design/gov.uk.colours/

// Departmental colours
$attorney-generals-office: #9f1888;
$cabinet-office: #005abb;
$civil-service: #af292e;
$department-for-business-innovation-skills: #003479;
$department-for-communities-and-local-government: #00857e;
$department-for-culture-media-sport: #d40072;
$department-for-education: #003a69;
$department-for-environment-food-rural-affairs: #898700;
$department-for-international-development: #002878;
$department-for-transport: #006c56;
$department-for-work-pensions: #00beb7;
$department-of-energy-climate-change: #009ddb;
$department-of-health: #00ad93;
$foreign-commonwealth-office: #003e74;
$government-equalities-office: #9325b2;
$hm-government: #0076c0;
$hm-revenue-customs: #009390;
$hm-treasury: #af292e;
$home-office: #9325b2;
$ministry-of-defence: #4d2942;
$ministry-of-justice: #231f20;
$northern-ireland-office: #002663;
$office-of-the-advocate-general-for-scotland: #002663;
$office-of-the-leader-of-the-house-of-lords: #9c132e;
$scotland-office: #002663;
// Note: the 'the' part here will get dropped
$the-office-of-the-leader-of-the-house-of-commons: #317023;
$uk-export-finance: #005747;
$uk-trade-investment: #C80651;
$wales-office: #a33038;

// Brand colours
$govuk-blue: #005ea5;
$mainstream-brand: $govuk-blue;

// Standard palette, colours
$purple: #2e358b;
$purple-50: #9799c4;
$purple-25: #d5d6e7;
$mauve: #6f72af;
$mauve-50: #b7b9d7;
$mauve-25: #e2e2ef;
$fuschia: #912b88;
$fuschia-50: #c994c3;
$fuschia-25: #e9d4e6;
$pink: #d53880;
$pink-50: #eb9bbe;
$pink-25: #f6d7e5;
$baby-pink: #f499be;
$baby-pink-50: #faccdf;
$baby-pink-25: #fdebf2;
$red: #b10e1e;
$red-50: #d9888c;
$red-25: #efcfd1;
$mellow-red: #df3034;
$mellow-red-50: #ef9998;
$mellow-red-25: #f9d6d6;
$orange: #f47738;
$orange-50: #fabb96;
$orange-25: #fde4d4;
$brown: #b58840;
$brown-50: #dac39c;
$brown-25: #f0e7d7;
$yellow: #ffbf47;
$yellow-50: #ffdf94;
$yellow-25: #fff2d3;
$grass-green: #85994b;
$grass-green-50: #c2cca3;
$grass-green-25: #e7ebda;
$green: #006435;
$green-50: #7fb299;
$green-25: #cce0d6;
$turquoise: #28a197;
$turquoise-50: #95d0cb;
$turquoise-25: #d5ecea;
$light-blue: #2b8cc4;
$light-blue-50: #96c6e2;
$light-blue-25: #d5e8f3;

// Standard palette, greys
$black: #0b0c0c;
$grey-1: #6f777b;
$grey-2: #bfc1c3;
$grey-3: #dee0e2;
$grey-4: #f8f8f8;
$white: #fff;

// Semantic colour names
$link-colour: $govuk-blue;
$link-active-colour: $light-blue;
$link-hover-colour: $light-blue;
$link-visited-colour: #4c2c92;
$button-colour: #00823b;
$focus-colour: $yellow;
$text-colour: $black;             // Standard text colour
$secondary-text-colour: $grey-1;  // Section headers, help text etc.
$border-colour: $grey-2;          // Borders, seperators, rules, keylines etc.
$panel-colour: $grey-3;           // Related links panel, page footer etc.
$canvas-colour: $grey-4;          // Page background
$highlight-colour: $grey-4;       // Table stripes etc.
$page-colour: $white;             // The page
$discovery-colour: $fuschia;      // Discovery badges and banners
$alpha-colour: $pink;             // Alpha badges and banners
$beta-colour: $orange;            // Beta badges and banners
$live-colour: $grass-green;       // Live badges and banners
$banner-text-colour: #000;        // Text colour for Alpha & Beta banners
$error-colour: $red;              // Error text and border colour
$error-background: #fef7f7;       // Error background colour




$is-ie: false !default;
$mobile-ie6: true !default;

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@mixin media($size: false, $max-width: false, $min-width: false, $ignore-for-ie: false) {
  @if $is-ie and ($ignore-for-ie == false) {
    @if $size != mobile {
      @if ($ie-version == 6 and $mobile-ie6 == false) or $ie-version > 6 {
        @content;
      }
    }
  } @else {
    @if $size == desktop {
      @media (min-width: 769px){
        @content;
      }
    } @else if $size == tablet {
      @media (min-width: 641px){
        @content;
      }
    } @else if $size == mobile {
      @media (max-width: 640px){
        @content;
      }
    } @else if $max-width != false {
      @media (max-width: $max-width){
        @content;
      }
    } @else if $min-width != false {
      @media (min-width: $min-width){
        @content;
      }
    } @else {
      @media (min-width: $size){
        @content
      }
    }
  }
}

@mixin ie-lte($version) {
  @if $is-ie {
    @if $ie-version <= $version {
      @content;
    }
  }
}
@mixin ie($version) {
  @if $is-ie {
    @if $ie-version == $version {
      @content;
    }
  }
}

@mixin inline-block($min-height: "") {
  display: -moz-inline-stack;
  display: inline-block;

  @if $min-height != "" {
    min-height: $min-height;
  }

  @include ie-lte(7) {
    zoom: 1;
    display: inline;
  }

  @include ie(6) {
    @if $min-height != "" {
      height: $min-height;
    }
  }
}

// ============= FROM THE TOOLKIT GEM =================

//  Font stack weirdness
//
//  To ensure embedded fonts fall back to appropriate
//  system fonts (eg, bold embedded font falls back to
//  bold system font, without anyone getting horrible
//  artificially emboldened weights) we're setting
//  the font-stack in a font-face declaration rather
//  than with the usual font-family.

// New Transport Light

$NTA-Light:
  "nta",
  Arial,
  sans-serif;

// New Transport Light with Tabular

$NTA-Light-Tabular:
  "ntatabularnumbers",
  "nta",
  Arial,
  sans-serif;

// Helvetica Regular

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"),
       local("Helvetica Neue"),
       local("Arial"),
       local("Helvetica");
}

$Helvetica-Regular:
  "GDS-Logo",
  sans-serif;

// Font reset for print

$Print-reset: sans-serif;


// @import '_font_stack.scss';
// @import '_conditionals.scss';
// @import '_device-pixels.scss';
// @import '_url-helpers.scss';

//  GOV.UK typography palettes

//  ANATOMY OF A TYPE STYLE
//  -----------------------
//  These are a collection of graphic styles. They are deliberately
//  abstracted from semantic HTML context to enable flexible re-use.
//  Although there is a lot of duplication within this file, as long
//  as you GZIP your CSS it shouldnt cause any bloat.


// CORE FONTS - NEW TRANSPORT

$is-print: false !default;

@mixin _core-font-generator($font-size: 19px, $font-size-640: 16px, $font-size-print: 14pt, $line-height: (25 / 19), $line-height-640: (20 / 16), $tabular-numbers: false, $font-weight: 400) {
  @if $tabular-numbers == true {
    font-family: $NTA-Light-Tabular;
  } @else if $is-print {
    font-family: $Print-reset;
  } @else {
    font-family: $NTA-Light;
  }
  font-size: $font-size-640;
  line-height: $line-height-640;
  font-weight: $font-weight;
  text-transform: none;
  @include media(tablet) {
    font-size: $font-size;
    line-height: $line-height;
  }
  @if $is-print {
    font-size: $font-size-print;
  }
}


@mixin core-80($line-height: (80 / 80), $line-height-640: (55 / 53), $tabular-numbers: false, $font-weight: 400) {
  $font-size: 80px;
  $font-size-640: 53px;
  $font-size-print: 28pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height-640, $tabular-numbers, $font-weight);
}

@mixin core-48($line-height: (50 / 48), $line-height-640: (35 / 32), $tabular-numbers: false, $font-weight: 400) {
  $font-size: 48px;
  $font-size-640: 32px;
  $font-size-print: 18pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height-640, $tabular-numbers, $font-weight);
}

@mixin core-36($line-height: (40 / 36), $line-height-640: (25 / 24), $tabular-numbers: false, $font-weight: 400) {
  $font-size: 36px;
  $font-size-640: 24px;
  $font-size-print: 18pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height-640, $tabular-numbers, $font-weight);
}

@mixin core-27($line-height: (30 / 27), $line-height-640: (20 / 18), $tabular-numbers: false, $font-weight: 400) {
  $font-size: 27px;
  $font-size-640: 20px;
  $font-size-print: 16pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height-640, $tabular-numbers, $font-weight);
}

@mixin core-24($line-height: (30 / 24), $line-height-640: (24 / 20), $tabular-numbers: false, $font-weight: 400) {
  $font-size: 24px;
  $font-size-640: 18px;
  $font-size-print: 16pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height-640, $tabular-numbers, $font-weight);
}

@mixin core-19($line-height: (25 / 19), $line-height-640: (20 / 16), $tabular-numbers: false, $font-weight: 400) {
  $font-size: 19px;
  $font-size-640: 16px;
  $font-size-print: 14pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height-640, $tabular-numbers, $font-weight);
}

@mixin core-16($line-height: (20 / 16), $line-height-640: (16 / 14), $tabular-numbers: false, $font-weight: 400) {
  $font-size: 16px;
  $font-size-640: 14px;
  $font-size-print: 12pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height-640, $tabular-numbers, $font-weight);
}

@mixin core-14($line-height: (20 / 14), $line-height-640: (15 / 12), $tabular-numbers: false, $font-weight: 400) {
  $font-size: 14px;
  $font-size-640: 12px;
  $font-size-print: 11pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height-640, $tabular-numbers, $font-weight);
}

@mixin bold-80($line-height: (80 / 80), $line-height-640: (55 / 53), $tabular-numbers: false) {
  @include core-80($line-height, $line-height-640, $tabular-numbers: $tabular-numbers, $font-weight: 700);
}

@mixin bold-48($line-height: (50 / 48), $line-height-640: (35 / 32), $tabular-numbers: false) {
  @include core-48($line-height, $line-height-640, $tabular-numbers: $tabular-numbers, $font-weight: 700);
}

@mixin bold-36($line-height: (40 / 36), $line-height-640: (25 / 24), $tabular-numbers: false) {
  @include core-36($line-height, $line-height-640, $tabular-numbers: $tabular-numbers, $font-weight: 700);
}

@mixin bold-27($line-height: (30 / 27), $line-height-640: (20 / 18), $tabular-numbers: false) {
  @include core-27($line-height, $line-height-640, $tabular-numbers: $tabular-numbers, $font-weight: 700);
}

@mixin bold-24($line-height: (30 / 24), $line-height-640: (24 / 20), $tabular-numbers: false) {
  @include core-24($line-height, $line-height-640, $tabular-numbers: $tabular-numbers, $font-weight: 700);
}

@mixin bold-19($line-height: (25 / 19), $line-height-640: (20 / 16), $tabular-numbers: false) {
  @include core-19($line-height, $line-height-640, $tabular-numbers: $tabular-numbers, $font-weight: 700);
}

@mixin bold-16($line-height: (20 / 16), $line-height-640: (16 / 14), $tabular-numbers: false) {
  @include core-16($line-height, $line-height-640, $tabular-numbers: $tabular-numbers, $font-weight: 700);
}

@mixin bold-14($line-height: (20 / 14), $line-height-640: (15 / 12), $tabular-numbers: false) {
  @include core-14($line-height, $line-height-640, $tabular-numbers: $tabular-numbers, $font-weight: 700);
}

@mixin heading-80($tabular-numbers: false) {
  @include core-80($tabular-numbers: $tabular-numbers);

  padding-top: 8px;
  padding-bottom: 7px;

  @include media(tablet){
    padding-top: 6px;
    padding-bottom: 14px;
  }
}

@mixin heading-48($tabular-numbers: false) {
  @include core-48($tabular-numbers: $tabular-numbers);

  padding-top: 10px;
  padding-bottom: 10px;

  @include media(tablet){
    padding-top: 7px;
    padding-bottom: 13px;
  }
}

@mixin heading-36($tabular-numbers: false) {
  @include core-36($tabular-numbers: $tabular-numbers);

  padding-top: 8px;
  padding-bottom: 7px;

  @include media(tablet){
    padding-top: 6px;
    padding-bottom: 9px;
  }
}

@mixin heading-27($tabular-numbers: false) {
  @include core-27($tabular-numbers: $tabular-numbers);

  padding-top: 8px;
  padding-bottom: 7px;

  @include media(tablet){
    padding-top: 4px;
    padding-bottom: 6px;
  }
}

@mixin heading-24($tabular-numbers: false) {
  @include core-24($tabular-numbers: $tabular-numbers);

  padding-top: 9px;
  padding-bottom: 6px;

  @include media(tablet){
    padding-top: 6px;
    padding-bottom: 4px;
  }
}

@mixin copy-19($tabular-numbers: false) {
  @include core-19($tabular-numbers: $tabular-numbers);

  padding-top: 2px;
  padding-bottom: 8px;

  @include media(tablet){
    padding-top: 0;
    padding-bottom: 5px;
  }
}

@mixin copy-16($tabular-numbers: false) {
  @include core-16($tabular-numbers: $tabular-numbers);

  padding-top: 8px;
  padding-bottom: 7px;

  @include media(tablet){
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@mixin copy-14($tabular-numbers: false) {
  @include core-14($tabular-numbers: $tabular-numbers);

  padding-top: 8px;
  padding-bottom: 7px;

  @include media(tablet){
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

// External link styles for all font sizes

// Private mixin for use solely by those below

@mixin external-link-size($content, $top, $top-hover: top) {
  &:after {
    content: $content;
    background-position: right $top;
  }

  @if $top-hover == top {
    $top-hover: $top;
  }

  &:hover:after {
    background-position: right $top-hover;
  }
}

@mixin external-link-12-no-hover {
  @include external-link-size($content: "\A0\A0\A0\A0\A0\A0\A0\A0", $top: 0px);
}

@mixin external-link-12 {
  @include external-link-size($content: "\A0\A0\A0\A0\A0\A0\A0\A0", $top: 0px, $top-hover: -388px);
}

@mixin external-link-13-no-hover {
  @include external-link-size($content: "\A0\A0\A0\A0\A0", $top: 1px);
}

@mixin external-link-13 {
  @include external-link-size($content: "\A0\A0\A0\A0\A0", $top: 1px, $top-hover: -387px);
}

@mixin external-link-14 {
  @include external-link-size($content: "\A0\A0\A0\A0\A0", $top: 1px, $top-hover: -387px);
}

@mixin external-link-14-bold-no-hover {
  @include external-link-size($content: "\A0\A0\A0\A0\A0\A0", $top: 2px);
}

@mixin external-link-16 {
  @include external-link-size($content: "\A0\A0\A0\A0\A0", $top: 3px, $top-hover: -385px);
}

@mixin external-link-16-bold-no-hover {
  @include external-link-size($content: "\A0\A0\A0\A0\A0\A0", $top: 3px);
}

@mixin external-link-19-no-hover {
  @include external-link-size($content: "\A0\A0\A0\A0", $top: 6px);
}

@mixin external-link-19 {
  @include external-link-size($content: "\A0\A0\A0\A0", $top: 6px, $top-hover: -382px);
}

@mixin external-link-19-bold-no-hover {
  @include external-link-size($content: "\A0\A0\A0\A0\A0\A0", $top: 6px);
}

@mixin external-link-default {
  &:after {
    background-image: file-url("external-links/external-link.png");
    background-repeat: no-repeat;

    @include device-pixel-ratio() {
      background-image: file-url("external-links/external-link-24x24.png");
      background-size: 12px 400px;
    }
  }
}

@mixin external-link-heading {
  &:after {
    background-image: file-url("external-links/external-link-black-12x12.png");
    background-repeat: no-repeat;

    @include device-pixel-ratio() {
      background-image: file-url("external-links/external-link-black-24x24.png");
      background-size: 12px 400px;
    }
  }
}
//============================= local additions  ========================

p,
li,
.button {
  @include core-19;
}

.heading-with-lede {
  margin-bottom: 0.625em;
}

.hint {
  color: $grey-1;
}

strong {
  font-weight: 700;
}

p > small {
  font-size: 16px;
}

// horrific override of moj-template
#global-header .header-proposition a#proposition-name:hover {
  text-decoration: none;
}

.visuallyhidden {
  display: none;
}


