.letter {
  background-color: $grey-4;
  border: 1px solid $grey-2;
  padding: 30px;
  margin-top: 1em;
  margin-bottom: 1em;

  > :first-child {
    margin-top: 0;
  }

  ol {
    margin-bottom: 0;

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.form-group.tight {
  margin-bottom: 15px;
}

.email-confirmation {
  padding-top: 10px;
  padding-bottom: 10px;

  p {
    margin-bottom: 5px;
  }

  strong {
    @include core-24;
  }
}
