.govuk-grid-row.uploader-row {
  border-top: 1px solid govuk-colour("light-grey");
  border-bottom: 1px solid govuk-colour("light-grey");
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  margin-bottom: 60px;

  form {
    padding-bottom: 0;
    text-align: right;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .govuk-button {
    margin-bottom: 0;
    float: right;
  }
}

.uploader-row .govuk-form-group {
  margin-bottom: 0px;
}

input[type="file"] {
  line-height: 2ex;
}

.js-file-status {
  text-align: right;
  vertical-align: middle;
  display: block;
  float: left;
  line-height: 43px;
  margin: 0;
  padding: 0;
  height: 40px;

  img {
    vertical-align: middle;
  }
}
