table {
  margin-bottom: $gutter;
}

tr {
  vertical-align: top;
}

td {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

td.details {
  font-weight: bold;
}

td.right {
  text-align: right;
}

.expandable-demo tr {
  vertical-align: top;
}

.expandable-demo caption {
  display: none;
}

td li strong { // TODO: remove this, it's horrible
  display: block;
}

table.check-your-answers {
  margin-top: 45px;

  th {
    font-size: 16px;
    font-weight: normal;
    max-width: 250px;
  }
  td {
    font-size: 16px;
    max-width: 400px;

    &.left {
      text-align: left;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

table.saved-appeals {
  th {
    @include bold-16;
  }

  td {
    @include core-16;
    min-height: 24px;
    vertical-align: middle;
  }

  tr {
    vertical-align: middle;

    &.expires-today, &.expires-soon {
      td.timeliness {
        padding-left: 30px;
        background: image-url('alert-red.png') left center no-repeat;

        @media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          background: image-url('alert-red-2x.png') left center no-repeat;
          background-size: 24px;
        }

        span {
          display: inline-block;
          font-weight: bold;
        }
      }
    }
  }

  .not-entered {
    color: $grey-2;
  }
}
