.homepage-top {
  text-align: center;
  background-color: $govuk-blue;
  color: $page-colour;
  margin-bottom: 30px;

  .homepage-top-inner {
    position: relative;
    overflow: hidden;
    max-width: 1020px;
    margin: 0 auto;
    text-align: left;
  }

  .floated-inner-block {
    margin: 0 15px;
  }

  h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 32px;
    line-height: 1.09375;
    font-weight: 400;
    text-transform: none;
    font-size-adjust: 0.5;
    font-weight: bold;
    padding: 25px 0 15px;

    @media (min-width: 641px) {
      font-size: 48px;
      line-height: 1.04167;
    }
  }

  @media (min-width: 641px) {
    .welcome-text {
      width: 66.66%;
    }

    .inner-block {
      margin: 0 30px;
    }
    .inner-block.floated-children {
      margin: 0 15px;
    }
  }
}

.task-list {
  font-size: 24px;
  border-top: 1px solid $grey-2;
  list-style-position: inside;
  padding-left: 0;
  margin-top: 45px;
  margin-bottom: 45px;

  li {
    padding: 15px 0;
    border-bottom: 1px solid $grey-2;
    margin: 0;
    position: relative;

    p {
      width: 75%;
    }
  }

  a.task-link {
    font-weight: bold;
    display: block;
  }

  span.task-status {
    position: absolute;
    right: 5px;
    top: 20px;

    padding: 2px 5px 0;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $page-colour;
    background-color: $black;
  }

  a.button-start {
    position: absolute;
    right: 5px;
    top: 20px;
  }
}
