.modal-dialog {
  display: none;
}

.modal-dialog_container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.modal-dialog_box {
  position: absolute;
  background-color: #fff;
  width: 100%;

  @include govuk-media-query($from: desktop) {
    top: 50%;
    left: 50%;
    width: 530px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  h2 {
    background-color: #df3034;
    background-image: image-url('icon-important-red-inverse.png');
    background-position: 15px center;
    background-repeat: no-repeat;
    color: $white;
    font-size: 19px;
    font-weight: bold;
    line-height: 60px;
    padding-left: 60px;
  }

  p {
    margin: 15px;
    font-size: 19px;
    a {
      margin-left: 5px;
      &:focus {
        background-color: transparent;
        border: 3px solid $yellow;
      }
    }
  }

  .button.abort {
    @include button($grey-3);
  }
}
