strong {
  font-weight: bold;
}

details {
  margin-top: $gutter;
  margin-bottom: $gutter;
}

form {
  padding-bottom: $gutter;
}

fieldset + .form-group {
  margin-bottom: 0;
  margin-top: $gutter;
}

.step-info {
  @include core-19;
  color: $grey-1;

  margin-top: 45px;
  margin-bottom: 0;

  .link-back {
    @include core-19;
    margin-right: 5px;
  }

  & + .heading-large {
    margin-top: 0;
  }
}

.check-your-answers {
  td {
    @include core-19;
    vertical-align: top;
  }

  .change-answer {
    text-align: right;
    font-weight: bold;
    padding-right: 0;
  }

  p.simple-format {
    margin-top: 0;
  }
}

address {
  font-style: normal;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actions {

  a, input {
    vertical-align: middle;
    display: inline-block;
  }

  a {
    margin-left: 3em;
  }

  form {
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 5px;
  }

  &.actions-tight {
    a {
      margin-left: 0;
      margin-bottom: 5px;

      @media (min-width: 641px) {
        margin-left: 10px;
        margin-top: 0;
      }
    }
  }
}

.js-toggle-password {
  cursor: pointer;
  color: $link-colour;
  text-decoration: underline;
  margin-bottom: 0;
}

.govuk-box-highlight {
  p {
    @include core-24;
  }
}

h2.notice {
  margin-bottom: 1em;
}

.timeout-note {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.25;
  color: #454a4c;
}
