strong {
  font-weight: bold;
}

details {
  margin: 30px 0;
}

.step-info {
  @include core-19;
  color: $grey-1;

  margin-top: 45px;
  margin-bottom: 0;

  .link-back {
    @include core-19;
    margin-right: 5px;
  }

  & + .heading-large {
    margin-top: 0;
  }
}

.check-your-answers {
  td {
    @include core-19;
    vertical-align: top;
  }

  .change-answer {
    text-align: right;
    font-weight: bold;
    padding-right: 0;
  }
}

.fee-display {
  margin: 0.25em 0;
  @include bold-48;
  display: block;
}
