.govuk-details {
  @include govuk-responsive-margin(6, "top");
}

.actions {

  .govuk-button {
    margin: 0px;
  }

  a, input {
    vertical-align: middle;
    display: inline-block;
  }

  a {
    margin-left: 3em;
  }

  form {
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 5px;
  }

  &.actions-tight {
    a {
      margin-left: 0;
      margin-bottom: 5px;

      @media (min-width: 641px) {
        margin-left: 10px;
        margin-top: 0;
      }
    }
  }
}

.heading-secondary {
  color: #6f777b;
  font-weight: 400;
}
