<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">
      Your appeal has been saved
    </h1>

    <p class="lede">You can return to complete your application at any time. Your application will be saved for 30 days.</p>

    <p>
      A confirmation email has been sent to:<br>
      <strong>terry-example@example.com</strong>
    </p>

    <p>
      <a href="<%= root_path %>" class="button">Return to Appeal to Tax Tribunal</a>
    </p>

  </div>
</div>
