<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">
      Your appeal has been saved
    </h1>

    <p class="lede">
      A confirmation email has been sent to:<br>
      <strong>terry-example@example.com</strong></p>

    <p>We will keep a draft of your appeal for 14 days. Any information will be automatically deleted for your security after this time.</p>

    <p>You can return to complete your appeal at any time. Please check you still meet the tribunal deadline and enter reasons if you think you may be late.</p>

    <p>
      <a href="<%= root_path %>" class="button">Finish</a>
    </p>

  </div>
</div>
