<% title 'Cookies' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Cookies</h1>

    <p>
      Appeal to the tax tribunal puts small files (known as ‘cookies’) onto your computer to collect information about
      how you browse the site.
    </p>

    <p>Cookies are used to:</p>

    <ul class="list list-bullet">
      <li>remember your progress</li>
      <li>measure how you use the website so it can be updated and improved based on your needs</li>
    </ul>

    <p>Appeal to the tax tribunal cookies aren't used to identify you personally.</p>

    <p>You'll normally see a message on the site before we store a cookie on your computer.</p>

    <h2 class="heading-small">Further information</h2>

    <p>Refer here to <a rel="external" target="_blank" href="https://www.gov.uk/help/cookies" title='Cookies on GOV.UK'>GOV.UK cookie policy</a>.</p>

    <p>Find out more about <a rel="external" target="_blank" href="http://www.aboutcookies.org">how to manage cookies</a>.</p>

    <h2 class="heading-medium">How cookies are used on Appeal to the tax tribunal</h2>

    <p><strong>Our introductory message</strong></p>

    <p>You may see a pop-up welcome message when you first visit Appeal to the tax tribunal. We'll store a cookie so that your computer knows you've seen it and knows not to show it again.</p>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>seen_cookie_message</td>
        <td>Saves a message to let us know that you've seen our cookie message</td>
        <td>1 month</td>
      </tr>
      </tbody>
    </table>

    <p><strong>Remembering your progress</strong></p>

    <p>We will store a cookie to remember your case progress in this computer and to expire your session after 30 minutes of inactivity.</p>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>_tax-tribunals-datacapture_session</td>
        <td>Saves your current progress in this computer and tracks inactivity periods</td>
        <td>After 30 minutes of inactivity or when you close your browser</td>
      </tr>
      </tbody>
    </table>

    <p><strong>Measuring website usage (Google Analytics)</strong></p>

    <p>We use Google Analytics software to collect information about how you use Appeal to the tax tribunal. We do this
      to help make sure the site is meeting the needs of its users and to help us make improvements, for example
      <a rel="external" target="_blank" href="https://insidegovuk.blog.gov.uk/2015/03/26/new-tool-to-see-trending-searches/">improving site search</a>.</p>

    <p>Google Analytics stores information about:</p>

    <ul class="list list-bullet">
      <li>the pages you visit on Appeal to the tax tribunal</li>
      <li>how long you spend on each Appeal to the tax tribunal page </li>
      <li>how you got to the site </li>
      <li>what you click on while you’re visiting the site</li>
    </ul>

    <p>We don't collect or store your personal information (for example your name or address) so this information can't
      be used to identify who you are.</p>

    <p>We don’t allow Google to use or share our analytics data.</p>

    <p>Google Analytics sets the following cookies:</p>

    <p>Universal Analytics</p>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>_ga</td>
        <td>This helps us count how many people visit Appeal to the tax tribunal by tracking if you've visited before
        </td>
        <td>2 years</td>
      </tr>
      <tr>
        <td>_gid</td>
        <td>This helps us count how many people visit Appeal to the tax tribunal by tracking if you've visited before
        </td>
        <td>24 hours</td>
      </tr>
      <tr>
        <td>_gat</td>
        <td>Used to manage the rate at which page view requests are made</td>
        <td>10 minutes</td>
      </tr>
      </tbody>
    </table>

    <p>Google Analytics</p>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>_utma</td>
        <td>Like _ga, this lets us know if you've visited before, so we can count how many of our visitors are new to
          Appeal to the tax tribunal or to a certain page
        </td>
        <td>2 years</td>
      </tr>
      <tr>
        <td>_utmb</td>
        <td>This works with _utmc to calculate the average length of time you spend on Appeal to the tax tribunal</td>
        <td>30 minutes</td>
      </tr>
      <tr>
        <td>_utmc</td>
        <td>This works with _utmb to calculate when you close your browser</td>
        <td>when you close your browser</td>
      </tr>
      <tr>
        <td>_utmz</td>
        <td>This tells us how you reached Appeal to the tax tribunal (for example from another website or a search engine)
        </td>
        <td>6 months</td>
      </tr>
      </tbody>
    </table>

    <p>You can
      <a rel="external" target="_blank" href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics cookies</a>.
    </p>
  </div>
</div>
