<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">Create an account</h1>

    <p class="notice util_mt-large">
      <i class="icon icon-important">
        <span class="visuallyhidden">Warning</span>
      </i>
      <strong class="font-small">You must create an account before we can save your details</strong>
    </p>
    <p><a href="sign_in">I already have an account</a></p>

    <form action="check_email">
      <div class="form-group">
        <label class="form-label" for="account_email">Your email address</label>
        <input class="form-control form-control-3-4" type="text" id="account_email">
      </div>
      <div class="form-group">
        <label class="form-label" for="account_password">
          Create your password
          <span class="form-hint">Should be at least 8 characters</span>
        </label>
        <input class="form-control form-control-3-4 js-toggleable-password" type="password" id="account_password">
      </div>
      <div class="form-group">
        <label class="form-label" for="case_reference">
          Your reference (optional)
          <span class="form-hint">If you are saving more than one appeal</span>
        </label>
        <input class="form-control form-control-3-4" type="text" id="case_reference">
      </div>

      <input class="button" type="submit" value="Create account">
    </form>


  </div>
</div>
