<h1 class="heading-large">
  Your saved appeal
</h1>

<h2 class="heading-medium heading-bottom-border">Appeal type</h2>
<dl class="check-your-answers multiple-sections">
  <div>
  <dt class="question">
    What is your appeal about?
  </dt>
  <dd class="answer">
      Value Added Tax (VAT)
  </dd>
</div>
<div>
  <dt class="question">
    Did you ask for a review of the original decision?
  </dt>
  <dd class="answer">
      Yes
  </dd>
</div>
<div>
  <dt class="question">
    What reponse did you receive?
  </dt>
  <dd class="answer">
      I have been waiting for 45 days or more for a review to finish
  </dd>
</div>
<div>
  <dt class="question">
    What is your dispute about?
  </dt>
  <dd class="answer">
      HMRC claim you owe tax
  </dd>
</div>
<div>
  <dt class="question">
    What is the amount of tax?
  </dt>
  <dd class="answer">
      £123,456.78
  </dd>
</div>

</dl>

<h2 class="heading-medium heading-bottom-border">Hardship application</h2>
<dl class="check-your-answers multiple-sections">
  <div>
  <dt class="question">
    Have you paid the amount of tax under dispute?
  </dt>
  <dd class="answer">
      No
  </dd>
</div>
<div>
  <dt class="question">
    Did you ask HMRC if you could appeal without paying the tax first?
  </dt>
  <dd class="answer">
      Yes
  </dd>
</div>
<div>
  <dt class="question">
    Did HMRC allow you to defer paying because of financial hardship?
  </dt>
  <dd class="answer">
      Yes
  </dd>
</div>

</dl>

<h2 class="heading-medium heading-bottom-border">Appeal deadline</h2>
<dl class="check-your-answers multiple-sections">
  <div>
  <dt class="question">
    Is the appeal in time?
  </dt>
  <dd class="answer">
      Yes
  </dd>
</div>

</dl>

<br><br><!-- don't do this -->
<p>
  <%= link_to 'Continue', start_path, class: 'button' %>
</p>
