<% title '' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t '.heading' %></h1>
    <h1 class="govuk-heading-l">CANARY RELEASE 2.0</h1>

    <ul class="govuk-list task-list">
      <% @link_sections.each do |(name, minutes, path)| %>
          <li>
            <%= link_to t('.link_titles.%s' % name), path, class: 'task-link ga-pageLink govuk-link govuk-!-font-size-24', data: {ga_category: 'Type_app', ga_label: name} %>
            <%= content_tag(:p, t('.link_descriptions.%s' % name), class: 'govuk-!-font-size-24') %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
