<div class="grid-row">
  <div class="column-two-thirds">

    <div class="breadcrumbs"></div>

    <h1 class="heading-large"><%= t '.heading' %></h1>

    <ul class="list task-list">
      <% @link_sections.each do |(name, minutes, path)| %>
        <li>
          <%= link_to t('.link_titles.%s' % name), path, class: 'task-link' %>
          <p><%= t('.link_descriptions.%s' % name) %></p>
          <p>(<%= t('.link_time_estimate', minutes: minutes) %>)</p>
        </li>
      <% end %>
    </ul>

  </div>
</div>
