<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">
      Your saved appeals
    </h1>

    <p>Your appeals will be save for 45 days.</p>
    <p class="notice">
      <i class="icon icon-important">
        <span class="visuallyhidden">Warning</span>
      </i>
      <strong class="font-small">
        You have 30 calendar days from the date of the original notice or review
        conclusion letter. If you appeal any later, you'll need to explain why.
      </strong>
    </p>
  </div>
</div>

<table class="saved-appeals">
  <caption class="visuallyhidden">Table of saved appeals/applications</caption>
  <thead>
    <tr>
      <th>Date created</th>
      <th>Your reference</th>
      <th>Taxpayer name</span></th>
      <th><span class="visuallyhidden">Case actions</span>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>03 March 2017</td>
      <td>Smalling008</td>
      <td>Smalling Widgets Ltd</td>
      <td class="right">
        <span class="right actions actions-tight">
          <a href="#" class="button button-secondary" data-alert="Non-functional - functionality not required for testing">Delete</a>
          <a href="#" class="button">Resume</a>
        </span>
      </td>
    </tr>
    <tr>
      <td>12 March 2017</td>
      <td class="not-entered">Not entered</td>
      <td>Simone Christilla</td>
      <td class="right">
        <span class="right actions actions-tight">
          <a href="#" class="button button-secondary" data-alert="Non-functional - functionality not required for testing">Delete</a>
          <a href="#" class="button">Resume</a>
        </span>
      </td>
    </tr>
    <tr>
      <td>31 March 2017</td>
      <td>DRS Ltd</td>
      <td class="not-entered">Not entered</td>
      <td class="right">
        <span class="right actions actions-tight">
          <a href="#" class="button button-secondary" data-alert="Non-functional - functionality not required for testing">Delete</a>
          <a href="#" class="button">Resume</a>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<div class="grid-row">
  <div class="column-two-thirds">
    <p>
      <%= link_to 'Start a new appeal or application', start_path %>
    </p>
  </div>
</div>
