<% title 'Terms and Conditions' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Terms and Conditions</h1>

    <p class="lede">
      By using this ‘appeal to the tax tribunal’ service you agree to our privacy policy and to these
      terms and conditions. Read them carefully.
    </p>

    <h2 class="heading-medium">
      General terms and conditions
    </h2>

    <p>
      These terms and conditions affect your rights and liabilities under the law. They govern your use of, and
      relationship with, this ‘appeal to the tax tribunal’ service. They do not apply to other Ministry of Justice (HM
      Courts and Tribunals Service) services, or to any department or service that is linked to in this service.
    </p>
    <p>
      We may occasionally update these terms and conditions. This might happen if there is a change in the law or to the
      way the service works.
    </p>
    <p>
      If you do not agree to the terms and conditions and privacy policy set out in this document, do not use this
      service.
    </p>

    <h2 class="heading-medium">
      Applicable law
    </h2>

    <p>
      Your use of this service and any dispute arising from its use will be governed by and construed in accordance with
      the laws of England and Wales, including but not limited to the:
    </p>
    <ul class="list list-bullet">
      <li>Computer Misuse Act 1990</li>
      <li>Data Protection Act 1998</li>
      <li>Mental Capacity Act 2005</li>
    </ul>

    <h2 class="heading-medium">
      Responsible use of this service
    </h2>

    <p>
      The service is intended for use by appellants, or by others on their behalf and only with their consent.
    </p>
    <p>
      There are risks in using a shared computer (eg in an internet café), to access this service. It is your
      responsibility to be aware of these risks and to avoid using any computer which may leave your personal
      information accessible to others. You’re responsible if you choose to leave a computer unprotected while using
      this service.
    </p>
    <p>
      We make every effort to check and test this service whenever we amend or update it. However, you must take your
      own precautions to ensure that the way you access this service does not expose you to the risk of viruses,
      malicious computer code or other forms of interference which may damage your computer system.
    </p>
    <p>
      You must not misuse this service by knowingly introducing viruses, trojans, worms, logic bombs or other material
      which is malicious or technologically harmful. You must not attempt to gain unauthorised access to this service,
      the system on which it is stored or any server, computer or database connected to it. You must not attack our site
      via a denial-of-service attack or a distributed denial-of-service attack.
    </p>

    <h2 class="heading-medium">
      Privacy policy
    </h2>

    <p>
      Ministry Of Justice (MOJ) work hard to ensure that information within the service is accurate. However, we cannot
      guarantee the accuracy and completeness of any information at all times. Guidance contained within this service
      should not be considered legal advice.
    </p>
    <p>
      This service provides information to support you in appealing to the tax tribunal. However, we cannot give legal
      advice on individual cases. You should answer questions based on consideration of the specific circumstances,
      seeking advice from a legal professional if needed.
    </p>
    <p>
      MOJ are not responsible for the content or reliability of any linked services or websites, and do not necessarily
      endorse any views expressed within them.
    </p>
    <p>
      While we make every effort to ensure this service is accessible at all times, we are not liable if the service is
      unavailable for any period of time.
    </p>

    <h2 class="heading-medium">
      How we keep your information safe
    </h2>

    <p>
      MOJ takes data security very seriously and we take every step to ensure that your data remains private and secure.
      All data collected by this service and stored in our secure database is kept entirely within the European Economic
      Area (EEA).
    </p>
    <p>
      MOJ use the Amazon Web Services (AWS) to store your data. By submitting your information, you consent to the
      <a href="http://aws.amazon.com/service-terms/">AWS Terms and Conditions</a>
    </p>
    <p>
      This service uses GOV.UK Notify to route emails. Up to the point where emails are handed over to your email
      provider, they are processed within the EEA.
    </p>
    <p>
      We’ll never share your information with other organisations for their marketing, market research or commercial
      purposes.
    </p>

    <h2 class="heading-medium">
      How we use your personal information
    </h2>

    <p>
      In order to use this service, you will need to enter personal information. We use this information to complete
      your appeal or application to the tax tribunal. Any email address you supply to us will be used by HMCTS to
      contact you with regards to your appeal. We may also use your details to contact you for research purposes.
    </p>
    <p>
      This online service contains several free-text fields in which you’re invited to enter certain types of
      information. You should not enter sensitive information into these free-text fields. Sensitive information may
      include, but is not limited to, details of religious beliefs and financial information. Entering sensitive
      information is done so at your own risk.
    </p>

    <h2 class="heading-medium">
      How we use non-personal information
    </h2>

    <p>
      Separately from the information entered by those using this service, we also collect site-usage information from
      this service, which allows us to see how the service is being used in order to allow us to improve it. This
      information does not contain any personal data.
    </p>
    <p>
      We’ll only ever collect information that will help us make the site work better for you; information that will let
      us contact you if you’ve asked us to, let us give you accurate information if you need it, and give us a sense of
      how people are using this service, so we can keep improving it.
    </p>
    <p>
      It includes:
    </p>
    <ul class="list list-bullet">
      <li>questions, queries or feedback you leave, including your email address if you send a message via feedback
        email address
      </li>
      <li>your truncated IP address (with the trailing octet removed), and details of which version of web browser you
        used
      </li>
      <li>information on how you use the site, using cookies and page tagging techniques to help us improve the
        website
      </li>
    </ul>
    <p>
      This helps us to:
    </p>
    <ul class="list list-bullet">
      <li>improve the site by monitoring how you use it</li>
      <li>respond to any feedback you send us, if you’ve asked us to</li>
    </ul>
    <p>
      We cannot identify you personally using your site usage data.
    </p>

    <h2 class="heading-medium">
      How we manage sessions
    </h2>
    <p>
      This service can be used to appeal to the tax tribunal. When you use this service, personal information about you
      may be visible to anyone with access to your computer.
    </p>
    <p>
      We store your data temporarily using cookies, and all your data is encrypted.
    </p>

    <h2 class="heading-medium">
      Data Protection Act 1998
    </h2>
    <p>
      This service complies with all principles of the DPA 1998. Ministry of Justice (MoJ) is the 'data controller' for
      the purposes of the Act.
    </p>
    <p>
      You have the right, as the user of this service, to delete your data or any and all information at any point. We
      will keep data secure for 1 month from the date you submit your appeal.
    </p>
    <p>
      After submitting your appeal, you will not be able to see it anymore or amend it online. Anyone who believes their
      personal data is kept within the service has the right to submit a subject access request to the MoJ, who will
      give details of the information stored on the server. If a subject access request shows that the information is
      inaccurate, the MoJ will amend or delete the information in the database as requested within 5 days. In these
      circumstances, we will warn the registered user first by email.
    </p>
    <p>
      Our hosting provider, and MOJ staff responsible for supporting the service, will have access to the server in
      which all personal information entered into the site is stored.
    </p>

    <h2 class="heading-medium">
      How your personal data is stored
    </h2>
    <p>
      Personal data submitted via the online service is stored for 1 month on our secure servers within EEA. Any data is
      deleted after this period.
    </p>

    <h2 class="heading-medium">
      How non-personal data is stored
    </h2>
    <p>
      Non-personal session information as described in the above section is stored on our secure servers within EEA. By
      using this service, you consent to the
      <a href="http://www.google.co.uk/analytics/terms/us.html">Google Analytics terms and conditions</a>.
    </p>

    <h2 class="heading-medium">
      Keeping your data secure
    </h2>
    <p>
      Transmitting information over the internet is generally not completely secure, and we cannot guarantee the
      security of your data. We do however use SSL to encrypt all data transferred to and received from our server. We
      take data security very seriously and we take every step to ensure that your data remains private and secure. We
      have procedures and security features to try and keep your data secure once we receive it.
    </p>

    <h2 class="heading-medium">
      Disclosing your information
    </h2>
    <p>
      We may pass on your personal information if we have a legal obligation to do so.
    </p>

    <h1 class="heading-large">Disclaimer</h1>
    <p>
      We do not accept liability for loss or damage incurred by users of this service, whether direct, indirect or
      consequential, whether caused by tort, breach of contract or otherwise. This includes loss of income or revenue,
      business, profits or contracts, anticipated savings, data, goodwill, tangible property or wasted time in
      connection with this service or any websites linked to it and any materials posted on it. This condition shall not
      prevent claims for loss of or damage to your tangible property or any other claims for direct financial loss that
      are not excluded by any of the categories set out above.
    </p>
    <p>
      This does not affect our liability for death or personal injury arising from our negligence, nor our liability for
      fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot
      be excluded or limited under applicable law.
    </p>
  </div>
</div>
