<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>The GLiMR Record  Generation Complete<h3>

    <p><%= @status.total - @status.failures %> / <%= @status.total %> successful</p>
    <p>Return to the generation form to generate <%= @status.failures %> additional GLiMR Records</p>
  </body>
</html>


