<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t '.heading' %></h1>

    <div class="form-group">
      <%= link_to t('.start_again'), session_path, method: :delete, class: 'button' %>
    </div>
  </div>
</div>
