<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text', session_timeout: Rails.configuration.x.session.expires_in_minutes %></p>

    <p class="lede"><%= t('.more_text', expire_in_days: Rails.configuration.x.cases.expire_in_days) %></p>

    <div class="govuk-form-group">
      <%= link_to t('.start_again'), root_path, class: 'govuk-button' %>
    </div>
  </div>
</div>
