<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <p><%=t '.more_text_html' %></p>

    <div class="form-group">
      <%= link_to t('.start_again'), root_path, class: 'button' %>
    </div>
  </div>
</div>
