<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <p class="lede"><%=t '.more_text' %></p>

    <div class="form-group">
      <%= link_to t('.start_again'), start_path, class: 'button' %>
    </div>
  </div>
</div>
