<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t('.heading') %></h1>

    <p class="lede"><%= t('.lead_text') %></p>

    <%= t('.description_html') %>

    <p>
      <%= link_to t('.continue'), edit_steps_closure_case_type_path, class: 'button button-start', role: 'button' %>
    </p>
  </div>
</div>
