<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <p><%= link_to t('.sign_in'), user_session_path %></p>
  </div>
</div>
