<h1 class="heading-large">Your Cost</h1>
<p class="lede">
  Your appeal will cost <em>&pound;123.456,78</em>.
</p>
<p>
  <%= link_to "Start again", session_path, method: :delete, class: 'link-back' %>
</p>
