<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary %>

    <%= step_form @form_object, html:{ class: 'ga-radioButtonGroup'  } do |f| %>
      <%= f.govuk_collection_radio_buttons :representative_type,
        Steps::Details::RepresentativeTypeForm.choices, :to_s, nil,
        legend: { class: 'govuk-heading', text: translate_for_user_type('.heading'), size: 'l'}%>

      <%= render partial: 'steps/shared/continue_or_save', locals: {f: f} %>
    <% end %>
  </div>
</div>
