@import 'local/old_design';

// GOV.UK Frontend

// turn on compatibility mode for the GOV.UK Template, Elements, Frontend
$govuk-compatibility-govukelements: true;
$govuk-compatibility-govuktemplate: true;
$govuk-compatibility-govukfrontendtoolkit: true;
$govuk-use-legacy-palette: true;

$govuk-assets-path: '/assets/govuk-frontend/govuk/assets/';
@import "govuk-frontend/govuk/all";


@import 'local/check_answers';
@import 'local/developer_tools';
@import 'local/single-file-upload';

@import 'local/lists';
// @import 'local/inputs';
// @import 'local/buttons';
// @import 'local/forms';
@import 'local/typography';
@import 'local/panels';
@import 'local/banners';
@import 'local/case_details_pdf';
@import 'local/utilities';
@import 'local/positioning_hacks';
@import 'local/timeout_modal';
@import 'local/spinner';
// @import 'local/notices';
// @import 'local/feedback';

// Dropzone vendor styling + local customization
@import 'dropzone';
@import 'local/dropzone';


.js-enabled {
  .js-hidden {
    display: none !important;
  }
}

.no-js-only {
  display: block;

  .js-enabled & {
    display: none !important;
  }
}

li.no-js-only {
  display: list-item;
}

.js-only {
  display: none !important;

  .js-enabled & {
    display: block !important;
  }
}

.js-enabled li.js-only {
  display: list-item !important;
}

@mixin app-button-reset {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  box-sizing: unset;
  background-color: transparent;
}

.app-header__logout-link {
  // 1. Remove any button styling
  @include app-button-reset;

  // 2. Apply header link styling
  @include govuk-font($size: 16, $weight: bold);
  white-space: nowrap;
}
