<% title t('.page_title') %>
<% track_transaction name: 'Resume closure case', category: 'Save and Return' %>

<h1 class="heading-large"><%= translate_with_appeal_or_application '.heading' %></h1>

<%= render @presenter.sections %>

<%= render partial: 'resume_check_answers_footer' %>
