<% title t('.page_title') %>

<h1 class="govuk-heading-l"><%= translate_with_appeal_or_application '.heading' %></h1>

<%= render @presenter.sections %>

<%= render partial: 'resume_check_answers_footer' %>
