<% title t('.page_title') %>

<%= step_header %>

<h1 class="heading-large"><%= t '.heading' %></h1>

<%= render @presenter.sections %>

<%= render partial: 'check_answers_footer', locals: { submit_link: closure_cases_path }  %>
