<h2 class="notice util_mt-large">
  <i class="icon icon-important">
    <span class="visuallyhidden"><%= t 'check_answers.footer..warning' %></span>
  </i>
  <strong class="bold-small">
    <%= t 'check_answers.footer..warning_message' %>
  </strong>
</h2>

<p class="govuk-body">
  <%= button_to t('check_answers.footer..submit_and_continue'), submit_link, class: 'govuk-button js-debounce js-busy', data: {busy_text: t('check_answers.footer..submitting')} %>
</p>
