<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive"><%= t 'check_answers.footer.warning' %></span>
    <%= t 'check_answers.footer..warning_message' %>
  </strong>
</div>

<p class="govuk-body">
  <%= button_to t('check_answers.footer.submit_and_continue'), submit_link, class: 'govuk-button js-debounce js-busy', data: {busy_text: t('check_answers.footer.submitting')} %>
</p>
