<tr>
  <td class="question">
    <%=t "check_answers.#{row.question}.question" %>
  </td>

  <td class="answer answer-value">
    <% if row.raw? %>
      <%= row.value %>
    <% else %>
      <%=t "check_answers.#{row.question}.answers.#{row.value}" %>
    <% end %>
  </td>
</tr>
