<h2 class="heading-medium heading-bottom-border"><%= translate_with_appeal_or_application "check_answers.sections.#{section.name}" %></h2>

<dl class="check-your-answers multiple-sections">
  <%= render section.answers %>
</dl>
