<h2 class="govuk-heading-m heading-bottom-border"><%= translate_with_appeal_or_application "check_answers.sections.#{section.name}" %></h2>

<dl class="govuk-body check-your-answers multiple-sections">
  <%= render section.answers %>
</dl>
