<% title 'Download case files' %>

<div class="grid-row" style="min-height: 600px;">
  <% if @tribunal_case.nil? %>
    <div class="column-full">
      <h2 class="heading-medium">Case not found</h2>
    </div>
  <% else %>
    <div class="column-two-thirds">
      <h1 class="heading-large">Appeal or application documents</h1>
      <p class="lede"><strong>Documents</strong></p>

      <ul class="list list-bullet">
        <% @files.each do |file| %>
          <li><a href="<%== file.url %>" title="<%== file.name %>"><%== file.name %></a></li>
        <% end %>
      </ul>

    </div>

    <div class="column-one-third">
      <aside class="govuk-related-items">
        <h2 class="heading-medium">Downloading files on a PC</h2>
        <nav role="navigation">
          <ul class="font-xsmall">
            <li>Right mouse click the link and select "Save Target As."</li>
            <li>Follow prompts to save the file to your location.</li>
          </ul>
        </nav>
      </aside>
    </div>
  <% end %>
</div>
