<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%=t '.heading' %></h1>

    <%= render partial: 'users/shared/case_saved', locals: {email_address: @email_address} %>

    <p><%= link_to t('.your_cases'), users_cases_path, class: 'govuk-link' %></p>
  </div>
</div>
