<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%=t '.heading' %></h1>

    <%= render partial: 'users/shared/case_saved', locals: {email_address: @email_address} %>

    <p><%= link_to t('.your_cases'), users_cases_path %></p>
  </div>
</div>
