<ul id="proposition-links">
  <li><%= link_to current_user.email, users_cases_path %></li>
  <li><%= link_to t('.change_password'), edit_user_registration_path %></li>
  <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
</ul>
