<ul>
  <li>
    <%= link_to t('.help'), 'https://www.gov.uk/help' %>
  </li>
  <li>
    <%= link_to t('.contact'), contact_page_path %>
  </li>
  <li>
    <%= link_to t('.cookies'), cookies_page_path %>
  </li>
  <li>
    <%= link_to t('.terms_and_conditions'), terms_page_path %>
  </li>
</ul>
