<% if ENV['HEROKU_DEMO_MODE'] %>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        System is running in demo mode. Cases created here will NOT be submitted to the tribunal.
      </span>
    </p>
  </div>
  <img src="https://glimr-api-emulator.herokuapp.com/" height="1" width="1" class="hidden">
  <img src="https://tax-tribunals-uploader-demo.herokuapp.com/" height="1" width="1" class="hidden">
<% else %>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        <%= t('.phase_info_html', feedback_url: "https://www.smartsurvey.co.uk/s/TTFeed20/") %>
      </span>
    </p>
  </div>
<% end %>
