<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t '.heading' %></h1>

    <p class="lede"><%=t '.lead_text' %></p>

    <p><%= link_to t('.your_cases'), users_cases_path %></p>
  </div>
</div>
